---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Calculator from '../components/Calculator.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Features from '../components/Features.astro';
import UseCases from '../components/UseCases.astro';
import Pricing from '../components/Pricing.astro';
import Security from '../components/Security.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Problem />
    <Calculator />
    <HowItWorks />
    <Features />
    <UseCases />
    <Pricing />
    <Security />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
